.dronSetupOver {
    right:30px;
    bottom: 30px;
    transform: none !important;
}
.dronModalOverlay {
    background: rgba(33, 33, 33, 0.2);
    z-index: 99;
    width: 100vw;
    height: 100vh;
}
.dronSetupModal {
    width: 50%;
    height: 50%;
    /* border-radius: 6px; */
    border: 2px solid rgb(167, 0, 255);
    position: fixed;
    left: calc(25%);
    top: calc(25%);
    /* margin-left: calc(50% - 140px);
    margin-top: calc(50% - 148px); */
    background-color: rgb(58, 15, 68);
    padding: 18px 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    
}
.dron_modal_title {
    color: #fff;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
}
.dron_btns_modal {
    margin: 20px 0;
}
.dron_modal_text {
    margin: 0;
    font-size: 18px;
    color: #fff;
    line-height: 110%;
    margin-bottom: 10px;
}
.dron_modalBtn {
    font-size: 18px;
    color: #fff;
    line-height: 110%;
    background: none;
    border: 1px solid rgb(167, 0, 255);
    transition: .2s linear;
    cursor: url('../src/assets/player_interface/new/cursor.png'), default;
    &:hover {
        scale:1.05;
      }
}
.dron_modalBtn_Exit {
    font-size: 32px;
    color: #fff;
    line-height: 110%;
    text-align: center;
    background: none;
    border: 1px solid rgb(167, 0, 255);
    transition: .2s linear;
    cursor: url('../src/assets/player_interface/new/cursor.png'), default;
    &:hover {
        scale:1.05;
      }
}